<section class="soldiers">
	<div class="jumbotron mt-3">
		<h1 class="display-3 text-center">Hello, <%= current_user.first_name %></h1>
		<p class="lead text-center">The money received from donors is:</p>
		<hr class="my-4">
		<p class="lead">
			<h2 class="text-center mt-1"><%= number_to_currency(@total) %></h2>
		</p>
	</div>
	<img src="https://bullmarketz.com/wp-content/uploads/2017/12/E-wallet.png" alt="ewallet" id="ewallet">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div class="col-md-auto">
				<a class="btn btn-success btn-lg" href="#" role="button" style= "font-size: 1.5rem;">Send to 10 Bis</a>
			</div>
			<div class="col-md-auto">
				<a class="btn btn-primary btn-lg" href="#" role="button" style= "font-size: 1.5rem;">Send to Paypal</a>
			</div>
			<div class="col-md-auto">
				<a class="btn btn-danger btn-lg" href="#" role="button" style= "font-size: 1.5rem;">Send to Bit</a>
			</div>
		</div>
	</div>
</section>
