.donor__dashboard {
  max-height: calc(100vh - 58px);
  height: calc(100vh - 58px);
  &__sidebar {
    background-color: $secondary;
    height: calc(100vh - 58px);


    &-head {
      a {
        width: 60%;
        margin: 0 auto;
        padding: 1rem 0;
      }
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      i {
        font-size: 56px;
        
      }
    }

    &-tabs {
      .sidebar-tab {
        cursor: pointer;
      }
      margin: 0 auto;
      width: 40%;
       .tab_active {
        border-bottom: 4px solid $primary;
      }
      height: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-content {
      &-section {
        height: calc(100vh - 58px - 2rem);
        overflow-y: auto;
        display: none;
        &.section_active {
          display: block;
        }
      }

    }

    &-bottom {
      height: 30%;
    }
  }
}

.stripe-button-el {
  width: 120px;
  border-radius: 0.2em !important;
  border: 0 !important;
  background-image: none !important;
  background-color: #0000ff !important;
  font-weight: normal !important;
  margin-left: 35%;

}

.stripe-button-el span {
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  font-size: 1em !important;
  border-radius: 0.2em !important;
  border: 0 !important;
  background-image: none !important;
  background: #0000ff !important;
  background-color: #0000ff !important;
  height: 7vh !important;
  line-height: 65px !important;
}